PORT=3000
SESSION_SECRET=zmien-to-na-losowy-sekret
AD_URL=ldaps://dc01.hospital.local:636
AD_BASE_DN=DC=hospital,DC=local
AD_BIND_DN=CN=svc_adportal,OU=Service,DC=hospital,DC=local
AD_BIND_PASSWORD=SuperSecretPassword
AD_ALLOWED_GROUP_DN=CN=AD-Portal-Admins,OU=Groups,DC=hospital,DC=local
AD_ALLOWED_USERS=user1,user2
AD_TLS_REJECT_UNAUTHORIZED=false
AD_DEBUG=false
