<div class="modal fade" id="objectModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="objectTitle">Szczegóły obiektu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" id="objectBody"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-primary d-none" id="applyObjectChangesBtn">Zastosuj</button>
      </div>
    </div>
  </div>
</div>
